body{
    background: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 255, 0);
    text-align: center;
    font-size: 70px;
}

h2{
    color: rgb(0, 187, 9);
    text-align: center;
    font-size: 40px;
}

li{
    color: rgb(15, 133, 0);
    font-size: 15px;
}

b{
    color: rgb(72, 255, 96);
    font-size: 15px;
}

p{
    width: 100%; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}